apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: jupiter-deployment
  name: jupiter-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: jupiter-deployment
  strategy: {}
  template:
    metadata:
      labels:
        app: jupiter-deployment
    spec:
      containers:
      - image: nginx:1.19.1
        name: nginx
        resources:
          limits:
            cpu: 0.5
            memory: 256Mi
          requests:
            cpu: 0.25
            memory: 128Mi
